NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyBvoSseNEf2XVdatM8LH0mo3ElSOYZ6k34",
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="date-bd9d0.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="date-bd9d0"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="date-bd9d0.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="355813024937"
NEXT_PUBLIC_FIREBASE_APP_ID="1:355813024937:web:44aea922ba68f0c17ab5b8"

